@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;

  --Secondary-color: #00203fff;

  --Primary-color: #adefd1ff;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100vw; */
  /* height: */
  position: relative;
  align-items: stretch;
}

.Heading {
  display: grid;
  place-items: center;
  margin: 50px 0px 30px 0px;
}
.Heading > h1 {
  color: var(--Secondary-color);
  font-family: "Courgette", cursive;
  font: bold 60px;
  letter-spacing: 10px;
  text-shadow: 1px 1px var(--Primary-color), 2px 2px var(--Primary-color),
    3px 3px var(--Secondary-color);
}
.Heading > p {
  color: var(--Secondary-color);
  font-family: "Courgette", cursive;
  font-size: 24px;
  margin-top: 5px;
}

.Form {
  width: 20em;
  height: 72%;
  background-color: var(--Secondary-color);
  color: var(--Primary-color);
}

.Display {
  width: 50%;
  background-color: var(--Primary-color);
  color: var(--Secondary-color);
}

.InputForm {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.Radiobox {
  margin: 10px 0px;
}
.Radiobox > .field-radiobutton {
  display: flex;
  margin: 10px 5px;
}
.Radiobox label {
  padding-left: 0.5em;
}

.label-input {
  margin: 0.3em 0em;
}
.submitbtn.p-button.p-component {
  margin: 2em 4em 0em 4em;
}

.Display-Details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.Sign {
  font-size: 50px;
  font-weight: 900;
  letter-spacing: 0.3em;
  text-align: center;
  padding-left: 0.5em;
  text-transform: uppercase;
}
.Sign,
.Date-Range {
  font-family: "Courgette", cursive;
}

.Description {
  font-size: 18px;
  text-align: justify;
}

.Description > p {
  margin: 2em;
  line-height: 1.5;
}

.Extra-Info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 25px;
  line-height: 1.5;
}

.Extra-Info > div {
  width: 8em;
  align-self: flex-end;
}
.Extra-Info-divs {
  margin: 0.5em 0.8em;
}
.Extra-Info-divs div:first-child {
  font-size: 18px;
  padding: 0.5px;
  border-bottom: 2px dotted;
}
.Extra-Info-divs div:nth-child(2) {
  font-size: 14px;
}

.error {
  font-size: 14px;
  color: yellow;
  margin-top: 10px;

  transition: width 2s;
}

/* For 425px */

@media only screen and (max-width: 426px) {
  .App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .Form {
    width: 20em;
    height: 82%;
  }

  .Display {
    width: 20em;
    height: auto;
  }
  .Heading > p {
    font-size: 19px;
    text-align: center;
  }
}

@media only screen and (max-width: 1018px), (min-width: 850px) {
  .Extra-Info > div {
    width: 7em;
  }
  .Extra-Info {
    margin: 10px;
  }
  .Extra-Info-divs div:first-child {
    font-size: 15px;
  }
  .Extra-Info-divs div:nth-child(2) {
    font-size: 12px;
  }
}
@media only screen and (max-width: 850px) (min-width: 426px) {
  .Display {
    width: 60%;
  }
  .Extra-Info > div {
    width: 7em;
  }
  .Extra-Info {
    margin: 10px;
  }
  .Extra-Info-divs div:first-child {
    font-size: 15px;
  }
  .Extra-Info-divs div:nth-child(2) {
    font-size: 12px;
  }
}
